USE [DynamicFormDB]
GO
/****** Object:  Table [dbo].[DropdownMaster]    Script Date: 16/11/2025 12:33:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DropdownMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_DropdownMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormFields]    Script Date: 16/11/2025 12:33:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[FieldType] [nvarchar](50) NOT NULL,
	[DropdownMasterId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 16/11/2025 12:33:32 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Forms] PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DropdownMaster] ON 

INSERT [dbo].[DropdownMaster] ([Id], [Name], [Description]) VALUES (17, N'Male', NULL)
INSERT [dbo].[DropdownMaster] ([Id], [Name], [Description]) VALUES (18, N'Female', NULL)
INSERT [dbo].[DropdownMaster] ([Id], [Name], [Description]) VALUES (19, N'Single', NULL)
SET IDENTITY_INSERT [dbo].[DropdownMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[FormFields] ON 

INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [FieldType], [DropdownMasterId]) VALUES (11, 72, N'Gender', 1, N'Dropdown', 17)
INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [FieldType], [DropdownMasterId]) VALUES (12, 72, N'Marital Status', 1, N'Dropdown', 19)
INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [FieldType], [DropdownMasterId]) VALUES (13, 72, N'Blood Group', 0, N'Dropdown', 20)
SET IDENTITY_INSERT [dbo].[FormFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([FormId], [Title], [CreatedAt]) VALUES (72, N'Employee Information', CAST(N'2025-11-16T00:10:23.0265030' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD  CONSTRAINT [FK_FormFields_DropdownMaster] FOREIGN KEY([DropdownMasterId])
REFERENCES [dbo].[DropdownMaster] ([Id])
GO
ALTER TABLE [dbo].[FormFields] CHECK CONSTRAINT [FK_FormFields_DropdownMaster]
GO
